# Python
__pycache__/
*.pyc
*.pyo

# Build artifacts
backups/
*.exe
*.exe.bak
*.pdf
*.elf
*.zip
*.bin
*.hex

# STM32 compiled objects
*.o
*.d
*.lst
*.map

# PyInstaller
code test/sorf/build/
code test/sorf/dist/
code test/sorf/*.spec
